*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:where(body) {
  line-height: 1.5;
}

:where(img, picture, video, svg) {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-size: inherit;
  font-weight: inherit;
}

:where(button, input, select, textarea),
:where(input[type="file"])::file-selector-button {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

:where(textarea) {
  resize: block;
}

:where(ol[role="list"], ul[role="list"]) {
  list-style: none;
}

:where(a:any-link) {
  text-decoration: none;
}

:where(
    a[href],
    summary,
    label,
    :is(
        button,
        select,
        input:is([type="submit"], [type="reset"], [type="button"])
      ):enabled,

  ) {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  :where(:has(:target)) {
    scroll-behavior: smooth;
  }
}
