:root {
  --red-0: rgb(247, 219, 219);
  --red-5: rgb(247, 211, 211);
  --red-10: rgb(252, 201, 201);
  --red-15: rgb(243, 180, 180);
  --red-20: rgb(243, 166, 166);
  --red-25: rgb(247, 157, 157);
  --red-30: rgb(245, 117, 117);
  --red-35: rgb(243, 98, 98);
  --red-40: rgb(245, 71, 71);
  --red-45: rgb(243, 54, 54);
  --red-50: rgb(243, 37, 37);
  --red-55: rgb(240, 19, 19);
  --red-60: rgb(243, 11, 11);
  --red-65: rgb(228, 2, 2);
  --red-70: rgb(207, 5, 5);
  --red-75: rgb(194, 8, 8);
  --red-80: rgb(173, 10, 10);
  --red-85: rgb(156, 13, 13);
  --red-90: rgb(139, 13, 13);
  --red-95: rgb(116, 11, 11);
  --red-100: rgb(97, 12, 12);

  --ocean-0: rgb(77, 128, 255);
  --ocean-5: rgb(69, 120, 248);
  --ocean-10: rgb(60, 112, 245);
  --ocean-15: rgb(54, 106, 238);
  --ocean-20: rgb(49, 100, 230);
  --ocean-25: rgb(44, 94, 219);
  --ocean-30: rgb(40, 88, 209);
  --ocean-35: rgb(35, 81, 197);
  --ocean-40: rgb(31, 75, 184);
  --ocean-45: rgb(29, 69, 172);
  --ocean-50: rgb(24, 62, 158);
  --ocean-55: rgb(21, 56, 145);
  --ocean-60: rgb(17, 50, 133);
  --ocean-65: rgb(13, 42, 116);
  --ocean-70: rgb(11, 39, 109);
  --ocean-75: rgb(9, 34, 97);
  --ocean-80: rgb(7, 28, 82);
  --ocean-85: rgb(5, 23, 70);
  --ocean-90: rgb(4, 20, 59);
  --ocean-95: rgb(3, 17, 49);
  --ocean-100: rgb(2, 14, 41);

  --gray-0: rgb(231, 231, 231);
  --gray-5: rgb(223, 223, 223);
  --gray-10: rgb(213, 213, 213);
  --gray-15: rgb(203, 203, 203);
  --gray-20: rgb(194, 193, 193);
  --gray-25: rgb(184, 182, 182);
  --gray-30: rgb(177, 175, 175);
  --gray-35: rgb(167, 164, 164);
  --gray-40: rgb(158, 157, 157);
  --gray-45: rgb(146, 143, 143);
  --gray-50: rgb(141, 138, 138);
  --gray-55: rgb(133, 131, 131);
  --gray-60: rgb(122, 120, 120);
  --gray-65: rgb(112, 112, 112);
  --gray-70: rgb(99, 97, 97);
  --gray-75: rgb(85, 84, 84);
  --gray-80: rgb(78, 78, 78);
  --gray-85: rgb(68, 66, 66);
  --gray-90: rgb(61, 61, 61);
  --gray-95: rgb(54, 53, 53);
  --gray-100: rgb(44, 44, 42);

  --violet-0: rgb(219, 209, 247);
  --violet-5: rgb(210, 196, 247);
  --violet-10: rgb(198, 180, 247);
  --violet-15: rgb(189, 168, 245);
  --violet-20: rgb(183, 159, 248);
  --violet-25: rgb(170, 144, 241);
  --violet-30: rgb(165, 137, 243);
  --violet-35: rgb(159, 127, 247);
  --violet-40: rgb(150, 116, 245);
  --violet-45: rgb(144, 108, 245);
  --violet-50: rgb(136, 96, 243);
  --violet-55: rgb(121, 80, 235);
  --violet-60: rgb(116, 71, 240);
  --violet-65: rgb(107, 60, 236);
  --violet-70: rgb(100, 51, 235);
  --violet-75: rgb(91, 38, 236);
  --violet-80: rgb(84, 28, 236);
  --violet-85: rgb(71, 20, 212);
  --violet-90: rgb(64, 18, 190);
  --violet-95: rgb(56, 16, 167);
  --violet-100: rgb(46, 11, 145);

  --steel-0: rgb(226, 231, 238);
  --steel-5: rgb(212, 219, 230);
  --steel-10: rgb(204, 212, 223);
  --steel-15: rgb(198, 207, 223);
  --steel-20: rgb(187, 198, 209);
  --steel-25: rgb(177, 187, 197);
  --steel-30: rgb(163, 176, 185);
  --steel-35: rgb(150, 163, 172);
  --steel-40: rgb(138, 152, 161);
  --steel-45: rgb(127, 141, 150);
  --steel-50: rgb(115, 128, 136);
  --steel-55: rgb(106, 117, 124);
  --steel-60: rgb(96, 107, 114);
  --steel-65: rgb(88, 100, 107);
  --steel-70: rgb(77, 88, 95);
  --steel-75: rgb(68, 79, 85);
  --steel-80: rgb(65, 76, 82);
  --steel-85: rgb(56, 65, 70);
  --steel-90: rgb(48, 54, 58);
  --steel-95: rgb(41, 46, 49);
  --steel-100: rgb(36, 40, 44);

  --ice-0: rgb(209, 225, 245);
  --ice-5: rgb(200, 220, 247);
  --ice-10: rgb(190, 213, 243);
  --ice-15: rgb(181, 206, 238);
  --ice-20: rgb(173, 198, 231);
  --ice-25: rgb(160, 188, 224);
  --ice-30: rgb(144, 174, 212);
  --ice-35: rgb(131, 162, 204);
  --ice-40: rgb(121, 153, 197);
  --ice-45: rgb(114, 146, 190);
  --ice-50: rgb(104, 137, 182);
  --ice-55: rgb(96, 130, 179);
  --ice-60: rgb(89, 123, 170);
  --ice-65: rgb(80, 112, 158);
  --ice-70: rgb(72, 104, 148);
  --ice-75: rgb(61, 91, 133);
  --ice-80: rgb(51, 79, 117);
  --ice-85: rgb(42, 66, 100);
  --ice-90: rgb(36, 58, 88);
  --ice-95: rgb(30, 50, 77);
  --ice-100: rgb(25, 45, 71);

  --blue-0: rgb(204, 221, 248);
  --blue-5: rgb(189, 210, 243);
  --blue-10: rgb(171, 197, 240);
  --blue-15: rgb(142, 176, 226);
  --blue-20: rgb(126, 163, 219);
  --blue-25: rgb(114, 158, 219);
  --blue-30: rgb(102, 150, 216);
  --blue-35: rgb(91, 141, 212);
  --blue-40: rgb(81, 136, 214);
  --blue-45: rgb(65, 129, 219);
  --blue-50: rgb(55, 121, 216);
  --blue-55: rgb(45, 116, 216);
  --blue-60: rgb(37, 108, 209);
  --blue-65: rgb(28, 100, 201);
  --blue-70: rgb(23, 92, 189);
  --blue-75: rgb(18, 85, 179);
  --blue-80: rgb(13, 79, 172);
  --blue-85: rgb(10, 74, 163);
  --blue-90: rgb(7, 66, 148);
  --blue-95: rgb(4, 58, 133);
  --blue-100: rgb(2, 50, 116);

  --sky-0: rgb(169, 207, 230);
  --sky-5: rgb(157, 195, 219);
  --sky-10: rgb(149, 188, 212);
  --sky-15: rgb(140, 184, 209);
  --sky-20: rgb(131, 179, 207);
  --sky-25: rgb(119, 173, 204);
  --sky-30: rgb(110, 166, 199);
  --sky-35: rgb(100, 159, 194);
  --sky-40: rgb(89, 152, 189);
  --sky-45: rgb(78, 147, 187);
  --sky-50: rgb(68, 141, 184);
  --sky-55: rgb(62, 137, 180);
  --sky-60: rgb(53, 132, 179);
  --sky-65: rgb(42, 125, 173);
  --sky-70: rgb(34, 119, 168);
  --sky-75: rgb(24, 107, 155);
  --sky-80: rgb(16, 96, 143);
  --sky-85: rgb(12, 90, 136);
  --sky-90: rgb(8, 83, 126);
  --sky-95: rgb(5, 79, 122);
  --sky-100: rgb(4, 71, 110);

  --slate-0: rgb(147, 184, 209);
  --slate-5: rgb(140, 177, 201);
  --slate-10: rgb(134, 170, 192);
  --slate-15: rgb(127, 162, 184);
  --slate-20: rgb(116, 149, 170);
  --slate-25: rgb(109, 141, 161);
  --slate-30: rgb(101, 132, 151);
  --slate-35: rgb(93, 123, 141);
  --slate-40: rgb(85, 112, 129);
  --slate-45: rgb(79, 105, 121);
  --slate-50: rgb(73, 98, 112);
  --slate-55: rgb(68, 91, 104);
  --slate-60: rgb(62, 83, 94);
  --slate-65: rgb(58, 78, 88);
  --slate-70: rgb(53, 71, 80);
  --slate-75: rgb(50, 67, 75);
  --slate-80: rgb(46, 61, 68);
  --slate-85: rgb(40, 53, 59);
  --slate-90: rgb(36, 48, 54);
  --slate-95: rgb(30, 41, 46);
  --slate-100: rgb(27, 37, 41);

  --pink-0: rgb(248, 222, 240);
  --pink-5: rgb(247, 214, 237);
  --pink-10: rgb(247, 207, 235);
  --pink-15: rgb(247, 198, 232);
  --pink-20: rgb(247, 186, 229);
  --pink-25: rgb(247, 179, 225);
  --pink-30: rgb(245, 165, 220);
  --pink-35: rgb(241, 152, 213);
  --pink-40: rgb(240, 140, 208);
  --pink-45: rgb(233, 123, 198);
  --pink-50: rgb(228, 111, 191);
  --pink-55: rgb(228, 100, 187);
  --pink-60: rgb(223, 87, 180);
  --pink-65: rgb(219, 77, 174);
  --pink-70: rgb(218, 65, 169);
  --pink-75: rgb(211, 56, 162);
  --pink-80: rgb(211, 43, 158);
  --pink-85: rgb(214, 30, 156);
  --pink-90: rgb(212, 16, 150);
  --pink-95: rgb(204, 7, 142);
  --pink-100: rgb(194, 3, 133);
}
